version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: monday
      time: '12:00'
    groups:
      all:
        patterns:
          - '*'
  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: weekly
      day: monday
      time: '12:00'
    groups:
      minor-patch:
        patterns:
          - '*'
        update-types:
          - minor
          - patch
  - package-ecosystem: npm
    directory: /web
    schedule:
      interval: weekly
      day: monday
      time: '12:00'
    groups:
      minor-patch:
        patterns:
          - '*'
        update-types:
          - minor
          - patch
