name: publish
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+-[0-9]+'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  pub:
    runs-on: ubuntu-latest
    environment: publish
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/flakehub-cache-action@main
      - id: auth
        uses: rust-lang/crates-io-auth-action@v1
      - run: nix build
      - run: |
          cargo install cargo-edit
          cargo set-version ${GITHUB_REF_NAME#v}
      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          file_pattern: Cargo.toml Cargo.lock
          commit_message: 'chore: bump version to ${{ github.ref_name }}'
      - run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
